@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    font-family: 'Montserrat', sans-serif;
   
}
.container{
    width: 1300px;
	margin: auto 0;
}

.nonBold{
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
}

.bold{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.todosOsTextos{
    display: flex;
    text-align: start;
    flex-direction: column;
}

.primeiroTexto{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 37px;
 
}

.segundoTexto{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
}

.btnRedLogin{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    box-shadow: 12px 12px 15px rgb(166 171 189), -12px -12px 15px rgb(255 255 255);
    margin-bottom: 100px;
    color: #CB334B;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20%;
    transition: 0.3s;
}

.btnRedLogin:hover {
    background-color:#CB334B;
    color:  #F2F2F2;
    transition: 0.3s;
}
.conteudoAcesso{
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgAcesso{
    width: 48vw;
    display: flex;
    align-items: flex-end;
}
.imagemAcesso{
    height: 55vh;
}
.containerOrganizacao{
    display: flex;
    height: 74.6vh;
}

.spans{
margin-top: 50px;
display: flex;
flex-direction: column;
}

.textoEBotao{
    display: flex;
    justify-content: end;
    align-items: center; 
    flex-direction: column;
}