.container_header_login{
  width: 100vw;
  background-color: #f2f2f2;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1);
   
}
  
.logoLogin{
<<<<<<< HEAD
  height: 70%; 
}

=======
  height: 70%; 
}

.logo{
  height: 70%; 
}


>>>>>>> c468885b452dbd46da823a85b6403b4111b76548
