@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container{
    width: 1300px;
    margin: 0 auto;
}

header {
    height: 80px;
    background-color: #f2f2f2;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1);
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.logo {
    margin-right: 15vw;
    width: 150px;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


p {
    margin: 0;
}

.select :link {
    color: #000000;
    text-decoration: none;
    display: flex;
    /* flex-direction: column; */
}


.img_logout{
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
}


div.select {
    min-width: 150px;
    padding-right: 15px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    background: #f2f2f2;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.text_link{
    margin-bottom: 30px;
    /* border-bottom: 1px solid #000000; */
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    display: flex;
    height: 45px;
    /* justify-content: space-around; */
}

.textLink{
    margin-bottom: 30px;
    /* border-bottom: 1px solid #000000; */
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    display: flex;
    height: 45px;
    /* justify-content: space-around; */
}

.textLink:hover    {
    box-shadow: inset 2px 2px 7px rgba(166, 171, 189, 1), 0px 0px 15px rgba(242, 242, 242, 1);
    /* background-color: #dcdcdc; */
    border-radius: 20px;
    width: 100%;
    display: flex;
    /* justify-content: center */
    align-items: center;
}
.text_link:hover    {
    box-shadow:  2px 2px 7px rgba(166, 171, 189, 1), 0px 0px 15px rgba(242, 242, 242, 1);
    /* background-color: #dcdcdc; */
    border-radius: 20px;
    width: 100%;
    display: flex;
    /* justify-content: center */
    align-items: center;
}

div.select p {
    padding: 5px;
    width: 100%;
    text-decoration: none;
}

/* div.select:after {
    content: "▼";
    position: absolute;
    right: 6px;
    top: 12px; 
    font-size: 9px;
} */

div.select .hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .9s;
    background: #f2f2f2;
    z-index: 10;
    width: 30vw;
    box-shadow: 8px 12px 15px rgba(166, 171, 189, 1), 0px 0px 15px rgba(242, 242, 242, 1);
    padding: 30px 10px 0;
    border-radius: 20px;
    
}

div.select:hover .hidden {
    visibility: visible;
    opacity: 1;
}

div.select p:hover, div.select:hover {
    background-color: #f2f2f2;
}

.input_motivacao{
    color: #000000;
}

.circulo{
    width: 4vw;
    height: 8vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: 8px 12px 15px rgba(166, 171, 189, 1), 0px 0px 15px rgba(242, 242, 242, 1);
}

.img_perfil{
    /* width: 10px; */
    /* height: 10px; */
    background-color: #f2f2f2;
}

.input img{
    height: 15px;
}

.seta{
    width: 25px;
    height: 25px;
    padding: 5px;
}