@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    font-family: 'Montserrat', sans-serif;
   
}

.container_org {
    display: flex;
}

.nomeUsuario{
    font-style: normal;
    font-size: 28px;
    line-height: 52px;
}

.cargo{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 52px;
}
.classificacao{
    margin-left: 10px;
}
.nota{
    width: 70px;
    box-shadow:  8px 12px 15px rgb(166 171 189), 0px 0px 15px rgb(242 242 242);
}

.containerBox2{
    display: flex;
    align-items: center;
}

.boxGrafico{
    width: 300px;
    height: 140px;
    background-color: #f2f2f2;
    

    align-items: center;
    border-radius: 20px;
    font-size: 3.5rem;
    color: #e0e5ec;
    filter: drop-shadow(3px 3px 2px #a3b1c6) drop-shadow(-3px -3px 2px #ffffff);
    margin: 1rem;
}

.graficos{
    width: 250px;
}

.imagem{
    width: 250px;
}