@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    word-wrap: normal;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f2f2f2;
}


select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
    padding: 0 20px;
    background: url(../img/SetaSelectLight.png) no-repeat ;
}
/* ==============================   CADASTRO   ===============================================    */

.container{
    width: 1300px;
    margin: 0 auto;
}

.boxCadastro{
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.formCadastro{
    width: 48%;
}
.bodyCadastro{
    display: flex;
    flex-direction: column;
}
.inputCadastro{
    box-sizing: border-box;
    padding:  0 20px;
    width: 420px;
    height: 50px;
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    font-size: 23px;
    color: #000000;
    font-weight: bold;
    /* box-shadow: 0 3px 15px rgba(166, 171, 189, 1); */
}
.inputCadastroData{
    box-sizing: border-box;
    padding: 0 20px;
    width: 420px;
    height: 50px;
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    font-size: 23px;
    color: #000000;
    font-weight: bold;

}
.inputCadastroSelect{
    box-sizing: border-box;
    padding: 0 20px;
    width: 420px;
    height: 50px;
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    font-size: 23px;
    color: #000000;
    font-weight: bold;
    background-position: 350px;
}


.inputCadastroData::-webkit-calendar-picker-indicator{
    background-image: url(../img/IconCalendario.png);
    
    background-size: cover;
    width: 26px;
    height: 26px;
    padding-right: 15px;
    
}
.inputCadastro::placeholder{
    color: #000000;
    font-weight: bold;
}
.labelCadastro{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.boxImg{
    width: 48%;
    display: flex;
    align-items: end;
}
.imgCadastro{
    height: 690px;

}
.botaoCadastro{
    width: 420px;
    height: 75px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: none;
    box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1); 
    margin-bottom: 100px;

    color: #CB334B;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
}

/* ======================== Reirecionamento ======================== */

body{
    height: 100%;
    background-color: #F2F2F2;
}

.titulo{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-left: 32.5vw;
    margin-top: 4vh;
}

.titulo_2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 32.5vw;
}

.container_minhasVantagens{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 6vh;
}

.box_numero{
    width: 5vw;
    height: 10vh;
    background-color: #F2F2F2;
    box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 26vw;
    
}

.img_numero{
    width: 3vw;
    height: 6vh;
}

.box_texto{
    width: 26vw;
    height: 10vh;
    box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1);
    border-radius: 26px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25vw;
}

.textoRedirecionar{
    width: 26vw;
    height: 10vh;
    border-radius: 26px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.textoRedirecionar:hover {
    box-shadow: 20px 20px 35px rgba(166, 171, 189, 1), -20px -20px 35px rgba(255, 255, 255, 1);
    transition: all 0.5s;
}

.container_motivacoes{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 6vh;
}

.container_acompanhamento{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 6vh;
    margin-bottom: 5.5vh;
}

.container_cadastroUsuario{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 6vh;
    margin-bottom: 6vh;
}