@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

/* ==============================   Cadastrar Atividades   ===============================================    */

/* ==============================   Switch Button   ===============================================    */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.label_switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.label_switch:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #CB334B;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.label_switch:active:after {
	width: 130px;
}

/* centering */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}