.main_Cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    width: 1300px;
    height: 1300px;
    border-radius: 20px;
    box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1);
    margin: 5vh 0 5vh 0;
}

.container_navs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6vh;
}

.links {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #959595;
    font-weight: 400;
}

h1 {
    color: #CB334B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}