@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Montserrat', sans-serif;
  }

 body{
   height: 100vh;
 } 
.page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container_header{
  width: 100vw;
  background-color: white;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 35px 0px #00000040;
}

.logo{
  height: 70%; 
}


.container_main{
  display: flex;

}

.bannerNome{
  margin-left: 2vw;
  margin-bottom: 3%;
}

#titulo_Login{
  font-family: 'Montserrat', sans-serif;
  margin-left: 20%;
  font-weight: 600;
  font-size: 54px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));

}

#titulo_Senai{
  margin-top: 3%;
  margin-left: 15%;
  font-weight: 500;
  font-size: 40px;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.bannerLogin{
  width: 30vw;
  margin-top: 6vh;
  margin-left: 18vh;
  
}

.form_Login{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 5%;
  
  justify-content: space-between;

}

.form_Login input{
  height: 50px;
  width: 30vw;
  
}

.form_Login button{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  box-shadow: 12px 12px 15px rgba(166, 171, 189, 1), -12px -12px 15px rgba(255, 255, 255, 1); 
  margin-bottom: 100px;

  color: #CB334B;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 17%;
}

.inputLabel{
  display: flex;
  flex-direction: column;
}

.inputLabel label{
  font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.inputLabel input{
  box-sizing: border-box;
  padding:  0 20px;
  width: 420px;
  height: 50px;
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
  font-size: 23px;
  color: #000000;
  font-weight: bold;
    /* box-shadow: 0 3px 15px rgba(166, 171, 189, 1); */
}

